<mat-accordion class="category-panel" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Organic Fruits</mat-panel-title>
        <!-- <mat-panel-description>
          Type your name and age
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description> -->
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Organic Vegitables</mat-panel-title>
          <!-- <mat-panel-description>
            Type your name and age
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description> -->
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Organic Dry Fruits</mat-panel-title>
          <!-- <mat-panel-description>
            Type your name and age
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description> -->
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
          <!-- <mat-panel-description>
            Type your name and age
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description> -->
        </mat-expansion-panel-header>
      </mat-expansion-panel>
  </mat-accordion>