mat-expansion-panel{
    box-shadow: 1px 1px 3px rgba(236, 240, 237, 0.3);
    color: inherit;
}

@media(hover: none) {
    .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
        background:transparent;
    }
}

.mat-expansion-panel-header-title {
    color:  #73B043;
    font-weight: bolder;
}

.mat-list-base .mat-list-item  {
    color: #73B043;
    background-color:#005F41;
    margin: 0.1em;
    height: 40px;
}

.mat-list-base .mat-list-item:hover {
    color: white;
    cursor:pointer;
}

.mat-list-base .mat-subheader {
    color: inherit;
    font-style: italic;   
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}

mat-icon {
    color: #73B043;
}