mat-expansion-panel{
    box-shadow: 1px 1px 3px rgba(0,0,0,.3)!important;
    border: none;    
}

.category-panel, .mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
    flex-basis: 0;
}
  
.category-panel, .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}
  
.category-panel, .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

mat-panel-title{
    color: #73B043;
}

mat-expansion-panel-header{
    background-color: white !important;
}