<mat-toolbar>
    <mat-toolbar-row class="secondToolbarRow">
        <div fxHide.gt-sm class="menuItem">                
            <button  mat-icon-button (click)="toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        </div>
        <div class="menuItem">
            <a routerLink="/">
                <img src="assets/logo.png" width="200" height="inherit">
            </a>
        </div>
        <div fxFlex fxLayout fxLayoutAlign="flex-end">
            <ul fxLayout fxLayoutGap="10px">
                <li fxHide.xs fxHide.sm>
                    <a routerLink="/auth/login">Login</a>
                </li>
                <li fxHide.xs fxHide.sm>
                    <a routerLink="/auth/signup">Signup</a>
                </li>
                <li>
                    <a routerLink="/cart">
                        <mat-icon matBadge="0" matBadgeColor="warn">shopping_cart</mat-icon>
                    </a>
                </li>
                <li>
                    <app-profile></app-profile>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="showToolbar_2" class="thirdToolbarRow" fxLayout fxLayoutAlign="center center">
        <app-search (search)="searchHandler($event)"></app-search>
    </mat-toolbar-row>
</mat-toolbar>