mat-sidenav {
    width: 300px;
    height: 100%;
    touch-action: pan-y !important;
}

mat-sidenav-container, mat-sidenav-content {
    height: 100%;
    touch-action: pan-y !important;
}

.nav-caption {
    display: inline-block;
    padding: 6px;
    color: #005F41;
    font-weight: bold;
}

.nav-caption-user {
    display: inline-block;
    color: #005F41;
    font-weight: bold;
    margin-left: 1em;
    font-style: italic;
}

main {
    color: black;
    padding: 16px;
}

.seperatorHeader {
    background-color: #73B043 ;
    color: white;
    height: 35px;
    font-size: large;
}

mat-icon {
    color: #005F41;   
    margin-right: 0.5em;
}