/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #005F41 !important;
    color: white;
    box-sizing: border-box;
}

.material-icons {
    font-size: 26px;
}

.mat-body {
    background-color: #005F41 !important;
}

mat-sidenav-content{
    box-sizing: border-box;
}